<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="fixed-bottom" th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-1 text-center">
                <img th:src="@{/assets/img/logo.png}" alt="notezzhub" th:height="40" th:width="40">
            </div>
            <div class="col-sm">
                <p class="text-muted"><b>Notezz-Hub</b><br>
                    <b>©</b>2024</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>